.wrapper_01 {
  width: 1100px;
  margin: 0 auto;
}

.wrapper_02 {
  width: 982px;
  margin: 0 auto;
}

.wrapper_03 {
  width: 980px;
  margin: 0 auto;
}

/* 通用头部1 */
.common_header_01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

/* 通用头部2 */
.common_header_02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 6px 34px;
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
  border-bottom: 2px solid #C10D0C;
  background: url("../assets/images/content-sprite.png") no-repeat -225px -156px;
}

.common_header_02 .left-area {
  display: flex;
  align-items: center;
}

.common_header_02 .left-area .title {
  line-height: 28px;
  font-size: 20px;
}

.common_header_02 .left-area .category {
  display: flex;
  color: #ccc;
  margin-left: 10px;
}

.common_header_02 .left-area .category li {
  margin-left: 12px;
}

.common_header_02 .left-area .category a {
  color: #666;
}

.common_header_02 .left-area .category a:hover,
.common_header_02 .right-area .more:hover {
  text-decoration: underline;
}

.common_header_02 .right-area::after {
  content: "";
  position: relative;
  display: inline-block;
  top: 2px;
  width: 12px;
  height: 12px;
  background: url("../assets/images/content-sprite.png") no-repeat 0 -240px;
}

/* 通用按钮1 */
.common_button_01 {
  display: block;
  padding-right: 4px;
  border-radius: 4px;
  background: url("../assets/images/button-sprite.png") right -100px no-repeat;
  box-sizing: border-box;
}

.common_button_01 > i {
  display: block;
  height: 31px;
  line-height: 31px;
  padding-left: 5px;
  text-align: center;
  font-style: normal;
  background: url("../assets/images/button-sprite.png") 0 -59px no-repeat;
}

.common_button_01:hover {
  background-position: right -182px;
}

.common_button_01:hover i {
  background-position: 0 -141px;
}